@page
@using Microsoft.AspNetCore.Http.Extensions

@model SwimResults.Pages.IndexModel

@{
    ViewData["Title"] = "Swims";
}

<h1>Swims</h1>

<h5 id="workoutLoadMessage" class="text-info" style="display: none">Workout load message</h5>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Workouts[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workouts[0].Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workouts[0].Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workouts[0].Pace)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Workouts[0].Place)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Workouts[0].Date)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Workouts[0].Start)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Workouts[0].Note)
                </th>*@
            <th>
                <div id="busyIndicator" style="display: none">
                    <img src="~/images/ajax-loader.gif" />
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Workouts)
        {
            <tr>
                <td>
                    @{ var routeValues = new Dictionary<string, string> { { "id", item.Id.ToString() }, { "returnPath", Request.GetEncodedPathAndQuery() } }; }
                    <a asp-page="./Details" asp-all-route-data="routeValues">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td id="workoutDistance">
                    @Html.DisplayFor(modelItem => item.Distance) m
                </td>
                <td id="workoutDuration">
                    @Html.DisplayFor(modelItem => item.DurationFormatted)
                </td>
                <td id="workoutPace">
                    @Html.DisplayFor(modelItem => item.PaceFormatted)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Place)
                    </td>*@
                <td id="workoutDate">
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Start)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>*@
                <td>
                    <a asp-page="./Edit" asp-all-route-data="routeValues">Edit</a> |
                    <a asp-page="./Delete" asp-all-route-data="routeValues">Delete</a> |
                    <a href="#" onclick="fillWorkoutDetail(this)" id="@item.Id">Load</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-page="./Index" asp-all-route-data="@Model.Workouts.FirstPageRouteValues" class="btn @Model.Workouts.PrevPageDisabledClass"><i class="fas fa-angle-double-left"></i></a>
<a asp-page="./Index" asp-all-route-data="@Model.Workouts.PrevPageRouteValues" class="btn @Model.Workouts.PrevPageDisabledClass"><i class="fas fa-angle-left"></i></a>
Page @Model.Workouts.PageNo.ToString() of @Model.Workouts.TotalPages.ToString()
<a asp-page="./Index" asp-all-route-data="@Model.Workouts.NextPageRouteValues" class="btn @Model.Workouts.NextPageDisabledClass"><i class="fas fa-angle-right"></i></a>
<a asp-page="./Index" asp-all-route-data="@Model.Workouts.LastPageRouteValues" class="btn @Model.Workouts.NextPageDisabledClass"><i class="fas fa-angle-double-right"></i></a>
<p>
    <a asp-page="Create"><i class="fas fa-plus-circle"></i></a>
</p>

<script>
    function fillWorkoutDetail(sender) {
        $("#busyIndicator").show();
        $("#workoutLoadMessage").text('');
        let workoutId = sender.id;
        var parentTr = sender.closest('tr');
        $.ajax({
            type: "POST",
            url: '@Url.Action("Post", "Workout")',
            contentType: "application/json; charset=utf-8",
            data: workoutId,
            dataType: "json",
            //processData: false,
            success: function (data) {
                if (!data.success) {
                    $('#busyIndicator').hide();
                    alert(data.message);
                    return;
                };
                parentTr.children[0].innerHTML = '<a href="@Url.Page("Details")?id=' + data.workoutData.workoutId + '">' + data.workoutData.name + '</a>';
                parentTr.children[1].innerText = data.workoutData.distance + " m";
                parentTr.children[2].innerText = data.workoutData.duration;
                parentTr.children[3].innerText = data.workoutData.pace;
                parentTr.children[4].innerText = data.workoutData.startDate;
                $('#workoutLoadMessage').text(data.message).show();
                $('#busyIndicator').hide();
                console.info(data.message);
            },
            failure: function (errMsg) {
                $('#busyIndicator').hide();
                alert(errMsg);
            }
        });
        return false;
    }

</script>
