@page
@using Microsoft.AspNetCore.Http.Extensions

@model SwimResults.Pages.IndexModel

@{
    ViewData["Title"] = "Swims";
}

<div class="form-row">
    <div class="col"><h3>Swims</h3></div>
    <div class="col text-right pt-2">
        <a asp-page="Create"><i class="fas fa-plus-circle"></i></a>
    </div>
</div>

<div id="workoutLoadAlert" class="alert alert-warning" style="display: none">
    <button class="close" onclick="(function () { $('#workoutLoadAlert').hide(); })(); return false;">&times;</button>
    <span id="workoutLoadMessage">Loading workout, please wait...</span>
</div>

<table class="table table-hover border-left border-right border-bottom">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Workouts[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workouts[0].Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workouts[0].Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workouts[0].Pace)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Workouts[0].Place)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Workouts[0].Date)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Workouts[0].Start)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Workouts[0].Note)
                </th>*@
            <th>
                <div id="busyIndicator" style="display: none">
                    <img src="~/images/ajax-loader.gif" />
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Workouts)
        {
            <tr>
                <td>
                    @{ var routeValues = new Dictionary<string, string> { { "id", item.Id.ToString() }, { "returnPath", Request.GetEncodedPathAndQuery() } }; }
                    <a asp-page="./Details" asp-all-route-data="routeValues">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td id="workoutDistance">
                    @Html.DisplayFor(modelItem => item.Distance) m
                </td>
                <td id="workoutDuration">
                    @Html.DisplayFor(modelItem => item.DurationFormatted)
                </td>
                <td id="workoutPace">
                    @Html.DisplayFor(modelItem => item.PaceFormatted)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Place)
                    </td>*@
                <td id="workoutDate">
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Start)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>*@
                <td>
                    <a asp-page="./Edit" asp-all-route-data="routeValues">Edit</a> |
                    <a asp-page="./Delete" asp-all-route-data="routeValues">Delete</a> |
                    <a href="#" onclick="fillWorkoutDetail(this)" id="@item.Id">Load</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav>
    <ul class="pagination">
        <li class="page-item @Model.Workouts.PrevPageDisabledClass">
            <a asp-page="./Index" asp-all-route-data="@Model.Workouts.FirstPageRouteValues" class="page-link"><i class="fas fa-angle-double-left"></i></a>
        </li>
        <li class="page-item @Model.Workouts.PrevPageDisabledClass">
            <a asp-page="./Index" asp-all-route-data="@Model.Workouts.PrevPageRouteValues" class="page-link"><i class="fas fa-angle-left"></i></a>
        </li>
        <li class="page-item">
            <span class="page-link">Page @Model.Workouts.PageNo.ToString() of @Model.Workouts.TotalPages.ToString()</span>
        </li>
        <li class="page-item @Model.Workouts.NextPageDisabledClass">
            <a asp-page="./Index" asp-all-route-data="@Model.Workouts.NextPageRouteValues" class="page-link"><i class="fas fa-angle-right"></i></a>
        </li>
        <li class="page-item @Model.Workouts.NextPageDisabledClass">
            <a asp-page="./Index" asp-all-route-data="@Model.Workouts.LastPageRouteValues" class="page-link"><i class="fas fa-angle-double-right"></i></a>
        </li>
    </ul>
</nav>
<p>
    
</p>

<script>
    function fillWorkoutDetail(sender) {
        $("#busyIndicator").show();
        $("#workoutLoadAlert").show();
        let workoutId = sender.id;
        var parentTr = sender.closest('tr');
        $.ajax({
            type: "POST",
            url: '@Url.Action("Post", "Workout")',
            contentType: "application/json; charset=utf-8",
            data: workoutId,
            dataType: "json",
            //processData: false,
            success: function (data) {
                $('#workoutLoadMessage').text(data.message);
                $('#busyIndicator').hide();
                if (!data.success) {
                    //alert(data.message);
                    return;
                };
                parentTr.children[0].innerHTML = '<a href="@Url.Page("Details")?id=' + data.workoutData.workoutId + '">' + data.workoutData.name + '</a>';
                parentTr.children[1].innerText = data.workoutData.distance + " m";
                parentTr.children[2].innerText = data.workoutData.duration;
                parentTr.children[3].innerText = data.workoutData.pace;
                parentTr.children[4].innerText = data.workoutData.startDate;
                //$('#workoutLoadMessage').text(data.message);
                //$('#busyIndicator').hide();
                console.info(data.message);
            },
            error: function (errMsg) {
                $('#busyIndicator').hide();
                alert(errMsg);
            }
        });
        return false;
    }
</script>
