@page
@model SwimResults.Pages.IntervalDetailsModel
@using Constants;
@using Microsoft.AspNetCore.Http.Extensions
@{
    ViewData["Title"] = "Interval Details";
}


<div>
    @{ if (Model.Interval.IntervalNo > 0)
        {
            <h3>Interval @Model.Interval.IntervalNo of workout &laquo;@Model.Interval.WorkoutName&raquo;</h3>
        }
        else
        {
            <h3>Interval Details</h3>
        }
    }
    <hr />
    <div class="row">
        <div class="col col-4">
            <dl class="row">
                <dt class="col-4">
                    @Html.DisplayNameFor(model => model.Interval.StartTime)
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.Interval.StartTime)
                </dd>
                <dt class="col-4">
                    @Html.DisplayNameFor(model => model.Interval.EndTime)
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.Interval.EndTime)
                </dd>
                <dt class="col-4">
                    @Html.DisplayNameFor(model => model.Interval.Duration)
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.Interval.DurationFormatted)
                </dd>
            </dl>
        </div>
        <div class="col col-8">
            <dl class="row">
                <dt class="col-3">
                    @Html.DisplayNameFor(model => model.Interval.PaceFormatted)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => model.Interval.PaceFormatted) / 100m
                </dd>
                <dt class="col-3">
                    @Html.DisplayNameFor(model => model.Interval.WorkoutIntervalType)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => model.Interval.WorkoutIntervalType.Name)
                </dd>
                <dt class="col-3">
                    @Html.DisplayNameFor(model => model.Interval.Notes)
                </dt>
                <dd class="col-9">
                    @*@Html.Raw("<pre>" + Model.Workout.Note + "</pre>")*@
                    <span style="white-space: pre-line">@Html.DisplayFor(model => model.Interval.Notes)</span>
                </dd>
            </dl>
        </div>
    </div>

    <h4 class="text-info">Lengths</h4>
    <table class="table table-hover border-left border-right border-bottom">
        <thead class="thead-light">
            <tr>
                <th>
                    No
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Interval.Lengths[0].Distance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Interval.Lengths[0].Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Interval.Lengths[0].StrokeTypeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Interval.Lengths[0].StrokeCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Interval.Lengths[0].PaceFormatted)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Interval.Lengths)
            {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.LengthNo)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Distance) m
                </td>
                <td>
                    @Html.DisplayFor(model => item.DurationFormatted)
                </td>
                <td>
                    @Html.DisplayFor(model => item.StrokeTypeName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.StrokeCount)
                </td>
                <td>
                    @Html.DisplayFor(model => item.PaceFormatted) / 100m
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @{ var routeValues = new Dictionary<string, string> { { "id", Model.Interval.Id.ToString() }, { "returnPath", Request.GetEncodedPathAndQuery() } }; }
    <a asp-page="./EditInterval" title="Edit interval" asp-all-route-data="routeValues" class="btn btn-outline-primary"><i class="far fa-edit mr-1"></i>Edit</a> 
    <a href="@Model.ReturnPath" title="Back" class="btn btn-outline-primary ml-3"><i class="far fa-arrow-alt-circle-left mr-1"></i>Back</a>
</div>
